/* _forms.scss */

.formmodule {
  display: block;
  position: relative;

  // Keyframes
  // Tada
  @-webkit-keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    10%, 20% {
      -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    10%, 20% {
      -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  // Shake
  @-webkit-keyframes shake {
    0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
  }
  @keyframes shake {
    0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
  }

  div#ctl00_cphPageBody_public_partctrl_cphPageBody_1_pnlMessage,
  div#ctl00_cphPageBody_public_partctrl_cphPageBody_2_pnlMessage {
    animation: tada 1s ease-out 0.3s normal 1;
    background: #4EB75E;
    border-radius: 2px;
    border: 1px solid #419c4f;
    color: #fff!important;
    font-size: 1.6rem;
    margin: 0 0 30px 0;
    overflow: hidden;
    padding-left: 45px!important;
    padding: 8px;
    position: relative;

    @include bp-md { padding: 12px; }

    &::before,
    &::after {
      background: #fff;
      border-radius: 1px;
      content: '';
      display: block;
      left: 24px;
      position: absolute;
      top: 50%;
    }

    &::before {
      height: 20px;
      margin: -10px 0 0 0px;
      transform: rotate(42deg);
      width: 4px;
    }

    &::after {
      height: 10px;
      margin: -1px 0 0 -8px;
      transform: rotate(-47deg);
      width: 4px;
    }
  }

  h3:first-of-type:empty { display:none; }

  .formmodule-form {
    table, tbody, tr, td {
      display: inline-block;
      width: 100%;
    }

    table {
      tbody {
        tr {
          &.formmodule-row,
          &.formmodule-altrow {
            margin: 0 0 10px 0;

            @include bp-md { margin: 0 0 15px 0; }
          }

          td {
            padding: 0;

            span, label {
              font-size: 1.6rem;
              font-style: normal;
              font-weight: normal;
            }

            input {}
            textarea {}
            input[type="text"] {}

            input[type="text"],
            input[type="file"],
            textarea {
              background: #fff;
              border-radius: 2px;
              border: 1px solid #dcdcdc;
              color: #222;
              font-size: 1.6rem;
              padding: 4px 8px;
              width: 100%;

              &:-moz-placeholder,
              &::-moz-placeholder,
              &:-ms-input-placeholder,
              &::-webkit-input-placeholder {
                color: #999;
                opacity: 1;
              }
              
              @include bp-md { padding: 8px 12px; }
            }

            input.formmodule-phone {
              margin: 0 2% 0 0;
              text-align: center;
              width: 32%;

              &:nth-of-type(1) {}
              &:nth-of-type(2) {}
              &:nth-of-type(3) { margin-right: 0; }
            }

            select,
            input[type="file"] {
              clear: both;
              display: block;
            }

            input[type="file"] {
              background: #f7f7f7;
            }

            // Checkbox & Radio
            table.formmodule-checkboxlist,
            table.formmodule-radiobuttonlist {
              tbody {
                tr {
                  td {
                    input[type="checkbox"],
                    input[type="radio"] {
                      margin: 2px 0;
                    }
                    label {
                      font-size: 1.4rem;
                      margin: 0 0 0 6px;
                      padding: 4px 0;
                    }
                  }
                }
              }
            }
          }

          td.formmodule-column1 {
            margin: 0;

            span {}
            span.formmodule-required {}
          }

          td.formmodule-column2 {
            // error message
            span[style*="color: red;"] {
              background: #E63A3A;
              border-radius: 2px;
              border: 1px solid #ce2233;
              color: #fff!important;
              font-size: 1.3rem;
              padding: 5px 8px;
              position: relative;

              &::before {
                background: #E63A3A;
                border-left: 1px solid #ce2233;
                border-top-left-radius: 2px;
                border-top: 1px solid #ce2233;
                content: '';
                display: block;
                height: 10px;
                left: 8px;
                position: absolute;
                top: -6px;
                transform: rotate(45deg);
                width: 10px;
              }
            }
          } // td.formmodule-column2
        } // tr
      } // tbody
    } // table
  } // .formmodule-form

  .form-bot-stopper {
    margin: 0 0 15px 0;

    .form-bot-stopper-info {
      font-size: 1.4rem;
    }

    .form-bot-stopper-question {
      font-size: 1.4rem;

      input.form-bot-stopper-value {
        background: #fff;
        border-radius: 2px;
        border: 1px solid #dcdcdc;
        color: #222;
        font-size: 1.6rem;
        height: 32px;
        padding: 4px;
        text-align: center;
        width: 40px !important;
      }
    }

    .form-bot-stopper-notice {}
  }

  .formmodule-submit {
    input[type="submit"] {}
  }

  .formmodule-errors {
    margin: 15px 0 0 0;

    div {
      animation: shake 1s ease-out 0.3s normal 1;
      background: #e63a3a;
      border-radius: 2px;
      border: 1px solid #ce2233;
      color: #fff!important;
      font-size: 1.4rem;
      padding-left: 38px!important;
      padding: 8px;
      position: relative;

      @include bp-md { padding: 12px; }

      &::before,
      &::after {
        background: #fff;
        border-radius: 1px;
        content: '';
        display: block;
        height: 18px;
        left: 18px;
        margin: -9px 0 0 -2px;
        position: absolute;
        top: 50%;
        width: 4px;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
} // .formmodule