/* _photo-gallery.scss */

// Lightbox

#lightbox-container-image-box {
    height: auto !important;
    max-width: 90vw;
    min-height: 30vw;

    #lightbox-container-image {
    	max-height: 90vh;
    }
}

#lightbox-container-image-data-box {
  max-width: 90vw;
  width: 100% !important;

  #lightbox-container-image-data {
    #lightbox-image-details {
      #lightbox-image-details-caption {
        word-break: break-word;
      }
    }
  }
}