/* _variables.scss */

/* ============ Colors ============ */

// $primary: #e01212;

$primary: #24A0ED;

$blue: #24A0ED;
$blue2: #119FD5;
$blue3: #00123A;
$green: #00D68D;
$orange: #FF4500;
$black1: #151516;
$black2: #1A1A1B;
$black3: #000613;


/* ============ Fonts ============ */

$serif: 'Playfair Display', serif;
$sans-serif: 'Open Sans', sans-serif;

/* ============ Breakpoints ============ */

/*
.example {
  width: 100%;
  
  @include bp-sm {
    width: 50%;
  }
}
*/

@mixin bp-sm {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}



