/* _sidecar.scss */

#siteWrapper {
  background-color: white;
  min-height: 100vh;
  position: relative;
}

.body-overlay {
  background: black;
  cursor: col-resize;
  display: block;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition-delay: 0.44s !important;
  transition: opacity 0.55s ease;
  visibility: hidden;
  width: 0;
  z-index: -100;

  &.active {
    height: 100%;
    opacity: 0.6;
    transition-delay: 0.2s !important;
    transition: opacity 0.55s ease;
    visibility: visible;
    width: 100%;
    z-index: 100;
  }
}

// Sidecar Toggle

#sidecar-toggle {
  background: black url('/sitefiles/XXXX/images/ui/menu-dark.svg') center/16px no-repeat;
  border-radius: 4px;
  display: block;
  height: 40px;
  margin-left: auto;
  width: 40px;

  @include bp-lg {
    display: none;
  }
}

/* ============ Sidecar Drawer ============ */

#sidecar {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: -300px;
  text-align: left;
  top: 0;
  transition: right .44s ease;
  width: 300px;
  z-index: 99999 !important;

  #close-sidecar {
    background: none;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font: bold 1.6rem sans-serif;
    padding: 12px 48px 12px 24px;
    position: absolute;
    top: 16px;
    right: 16px;

    &::after {
      content: '';
      height: 16px;
      pointer-events: none;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 16px;
    }
  }

  ul#mainnav {
    right: 0px;
  }
}

// Drawer Placement & Speed

#sidecar.slide-right {
  left: inherit;
  opacity: 1;
  right: -300px;
  transition: transform 0.44s ease-in-out,
              left 0.44s ease-in-out,
              right 0.44s ease-in-out;

  &.active {
    box-shadow: 0px -5px 20px rgba(black, 0.3);
    opacity: 1;
    right: 0;
    transition: all 0.44s ease;

    ul#mainnav li a {
      margin-left: 0px;
      opacity: 1;
    }
  }
}

/* ============ Sidecar Menu ============ */

nav#sidecar ul#mainnav {
  -webkit-padding-start: 0px;
  background: transparent;
  display: block;
  height: auto;
  margin: 100px 0 40px;
  position: relative;
  width: 100%;

  #mn-home {
    display: none;
  }

  li {
    @for $i from 1 to 10 {
      &:nth-child(#{$i}) a { transition-delay: $i * 0.05s !important; }
    }

    background: transparent;
    display: block;
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;

    ul {
      background: rgba(black, 0.2);
      display: block;
      float: none;
      margin: 0;
      max-height: 0px;
      overflow: hidden;
      padding: 0 0 0 0px;
      position: relative;
      transition: max-height 0.25s ease-in;

      li a {
        border: none;
        font: normal 1.6rem sans-serif;
        padding: 8px 0px 8px 16px;
      }

      &.active {
        display: block;
        float: none;
        max-height: 500px;
        transition: max-height 0.44s ease-in;
      }
    }

    a {
      color: black;
      display: inline-block;
      font: normal 2rem sans-serif;
      height: auto;
      opacity: 0;
      padding: 8px 16px;
      position: relative;
      transition: all .44s ease;
      width: 100%;

      &.expand {
        background: url('/sitefiles/XXXX/images/ui/arrow-dark.svg') center/50% no-repeat;
        cursor: pointer;
        display: block;
        height: 40px;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;

        &.active {
          transform: rotate(180deg);
        }
      }
    }
  }
}